* {box-sizing: border-box;}
ul {list-style-type: none;}

.navigate {
  margin: 0;
  padding: 10px 0;
  background-color: #252525;
  color: white;
  text-align: center;
}

.navigate li {
  display: inline-block;
  width: 20%;
}

.header {
  margin: 0;
  padding: 10px 0;
  background-color: #960096;
  color: white;
  text-align: center;
}

.header li {
  display: inline-block;
  width: 13.6%;
  color: red;
  text-align: center;
}
