* {box-sizing: border-box;}
ul {list-style-type: none;}

.navigate {
  overflow: hidden;
  background-color: #2C2BBA;
}

body {
  background: white;
}

.navigate a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navigate a:hover {
  background-color: #ddd;
  color: black;
}
.header {
  margin: 0;
  padding: 10px 0;
  background-color: #960096;
  color: white;
  text-align: center;
}

.header li {
  display: inline-block;
  width: 13.6%;
  color: red;
  text-align: center;
}
