
body {
  background-color: #e6e6e6;
}

h1 {
  margin-left: 500px;
}

button {
  padding: 50px;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 24px;
}

#Info {
  padding: 8px;
  margin-left: 25px;
  margin-top: 5px;
  font-size: 12px;
}

#Info {
  background-color: #37C9EE;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#Logout {
  background-color: #37C9EE;
  border: none;
  color: black;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -100px 980px;
  cursor: pointer;
}

#date {
  background-color: #37C9EE;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 100px;
  margin-top: -350px;
  cursor: pointer;
}

#BP {
  padding: 25px 35px;
  margin-left: 500px;
}

#BR {
  padding: 25px 35px;
  margin-left: 50px;
  margin-top: 60px;
}

img {
  width: 150px;
  height: 100px;
  margin-left: 850px;
  margin-top: 150px;
}

img Room {
  width: 150px;
  height: 100px;
  margin-left: 250px;
  margin-top: 150px;
}
